.about{
  // padding-top: 50px;
  &-title{
    text-align: center;
    font-size: 30px;
    color: #686868;
    margin-bottom: 40px;
    font-weight: 500;
  }
  &-info{
    margin-bottom: 60px;
    &-img{
      margin-bottom: 10px;
    }
    &-title{
      font-size: 24px;
      letter-spacing: 1px;
      color: #686868;
      font-weight: 500;
    }
    &-content{
      margin-top: 10px;
      font-size: 16px;
      color: #666;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
  &-recommend{
    margin-bottom: 20px;
  }
}