.easymenu{
  font-size: 16px;
  &-logo{
    width: 90px;
  }
  &-text{
    font-weight: 500;
  }
}
.navbar{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
  background:#fff;
  z-index: 998;
}
.navbar-light .navbar-nav .nav-link{
  font-size: 18px;
  font-weight: 500;
}