.contact{
  &-map{
    height: 300px;
    margin-bottom: 20px;
  }
  &-content{
    margin-bottom: 80px;
  }
  &-info{
    margin-bottom: 6px;
    font-size: 16px;
    &-label{
      font-weight: 500;
    }
  }
}
.infobox-body{
  width: auto !important;
  height: auto !important;
}