.index{
  &-carousel-img{
    height:400px;
    width: auto;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
  }
  &-recommend{
    margin-bottom: 90px;
    &-img{
      height:200px;
      width: auto;
      max-width: 350px;
      margin: 0 auto;
      margin-bottom: 10px;
      background-repeat: no-repeat;
      background-size: auto auto;
      background-position: center center;
    }
    &-text{
      text-align: center;
      font-size: 16px;
      color: rgb(107, 107, 107);
      font-weight: 500;
    }
  }
}
