.product{
  &-imgcol{
    margin: 20px 0px;
    text-align: center;
    padding: 60px 0;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 4px;
  }
  &-imgcol:hover{
    background:#eee;
  }
  &-img{
    height: 160px;
  }
  &-detail{
    display: flex;
    & > div > img{
      height: 200px;
      margin-right: 10px;
    }
  }
}